.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #0005;
  }
  .grid {
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-content: center;
    align-items: start;
    background-image: linear-gradient(white 1px, transparent 1px),
                      linear-gradient(90deg, white 1px, transparent 1px);
  }
  
  .car {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the car information to the bottom */
  }
  
  .car-image-container {
    width: 100%; /* Make the image container fill the width */
    display: flex; /* This will center the image horizontally */
    justify-content: center; /* Center horizontally */
  }
  
  .car img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent inline default space below image */
  }
  
  .car-info {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 10px; /* Add space between image and text */
  }
  
  .car-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Other styles */
  }
  